/*  your css code here. If applicable */
body{
	background-color: #e2e1e0;
}
.blog-column{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
}
li{
	list-style-type: none;
}
.item-1{
	background-color:white;
	width:200px;
	height:200px;
	display: flex;
	padding:20px;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	margin: 30px;
}
.item-2{
	background-color:white;
	width:200px;
	height:200px;
	display: flex;
	padding:20px;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	margin: 30px;
}
.item-3{
	background-color:white;
	width:200px;
	height:200px;
	display: flex;
	padding:20px;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	margin: 30px;
}
.item-4{
	background-color:white;
	width:200px;
	height:200px;
	display: flex;
	padding:20px;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	margin: 30px;
}